<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ilmora</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet" />
    <style>
        * {
            font-family: 'Lekton', serif;
            font-style: normal;
        }

        .w-fill {
            width: -webkit-fill-available;
            width: -moz-available;
            width: fill-available;
        }

        @media print {
            .print-button {
                display: none;
            }
        }
    </style>
</head>

<body>
    <div class="flex flex-col gap-5 p-5 w-fit">
        <div class="flex justify-center uppercase font-semibold">
            Teacher Invoice : {{.invoiceDate}}
        </div>
        <!-- teacher data -->
        <div class="text-xs">
            <div class="mb-2 font-semibold">Invoiced To</div>
            <table class="table-auto w-fill">
                <thead>
                    <tr>
                        <th class="border px-4 py-2">User ID</th>
                        <th class="border px-4 py-2">Teacher ID</th>
                        <th class="border px-4 py-2">Name</th>
                        <th class="border px-4 py-2">Email</th>
                        <th class="border px-4 py-2">WhatsApp No</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2 uppercase">{{.userId}}</td>
                        <td class="border px-4 py-2 uppercase">{{.teacherId}}</td>
                        <td class="border px-4 py-2">{{.name}}</td>
                        <td class="border px-4 py-2">{{.email}}</td>
                        <td class="border px-4 py-2">{{.whatsAppNo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- class data -->
        <div class="text-xs">
            <div class="mb-2 font-semibold">Class History</div>
            <table class="table-auto w-fill">
                <thead>
                    <tr>
                        <th class="border px-4 py-2">ID</th>
                        <th class="border px-4 py-2">Student</th>
                        <th class="border px-4 py-2">WhatsApp</th>
                        <th class="border px-4 py-2">Package</th>
                        <th class="border px-4 py-2">Duration</th>
                        <th class="border px-4 py-2">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .classLogs}}
                    <tr>
                        <td class="border px-4 py-2 uppercase">{{.id}}</td>
                        <td class="border px-4 py-2">{{.studentName}}</td>
                        <td class="border px-4 py-2">{{.studentWhatsAppNo}}</td>
                        <td class="border px-4 py-2">{{.packageName}}</td>
                        <td class="border px-4 py-2">{{.packageClassMins}} Mins</td>
                        <td class="border px-4 py-2">{{.teachersPrice}} TK</td>
                    </tr>
                    {{else}} {{end}}
                    <tr class="font-semibold">
                        <td class="border px-4 py-2" colspan="5">Class Price</td>
                        <td class="border px-4 py-2">{{.classPrice}} TK</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- payments -->
        <div class="flex justify-between items-end gap-15">
            <div class="text-xs">
                Assalamu ALakium,
                <br />
                Thank you for your continued support.
                <br />
                If there is any problem with invoice please feel free to contact us.
                <br />
                Jajakallah Khair
                <br />
                Ilmora Admin Team
            </div>
            <div class="text-xs w-fit font-semibold">
                <table class="table-auto">
                    <tbody>
                        <tr>
                            <td class="border px-4 py-2">Previous Due</td>
                            <td class="border px-4 py-2">{{.duePrice}} TK</td>
                        </tr>
                        <tr>
                            <td class="border px-4 py-2">Current Due</td>
                            <td class="border px-4 py-2">{{.classPrice}} TK</td>
                        </tr>
                        <tr>
                            <td class="border px-4 py-2">Total Bill</td>
                            <td class="border px-4 py-2">{{.totalPrice}} TK</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button class="print-button bg-black text-white" onclick="window.print()">
            Print
        </button>
    </div>
</body>

</html>